<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property resource="application.properties"/>

  <springProperty name="spring.datasource.driverClassName"
    source="spring.datasource.driverClassName"/>
  <springProperty name="logs.datasource.url" source="logs.datasource.url"/>
  <springProperty name="logs.datasource.username" source="logs.datasource.username"/>
  <springProperty name="logs.datasource.password" source="logs.datasource.password"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
      <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <driverClass>${spring.datasource.driverClassName}</driverClass>
        <jdbcUrl>${logs.datasource.url}</jdbcUrl>
        <user>${logs.datasource.username}</user>
        <password>${logs.datasource.password}</password>
      </dataSource>
    </connectionSource>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="jp.co.soramitsu.sora" additivity="false" level="debug">
    <appender-ref ref="DB"/>
    <appender-ref ref="STDOUT"/>
  </logger>

</configuration>
